.feature-page {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
}
.feature__bg {
  & img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
  }
}

.feature__title {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  color: #fff;
  margin-right: auto;
  position: relative;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: #000 3px 3px 3px;
  @include respond(tabletOrHigh) {
    font-size: 2.3rem;
  }
}

.feature__link {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 56%;
  left: 50%;
  transform: translate(-50%);
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(
    117deg,
    rgba(110, 9, 20, 0.865983893557423) 3%,
    rgba(170, 14, 25, 0.9612219887955182) 37%,
    rgba(190, 18, 24, 0.9612219887955182) 43%,
    rgba(182, 15, 24, 0.8883928571428571) 60%,
    rgba(205, 47, 55, 0.8715861344537815) 92%
  );
  padding: 10px 20px;
  border-radius: 7px;
  text-transform: uppercase;
  @include respond(tabletOrHigh) {
    font-size: 1.5rem;
    top: 55%;
  }
}
