* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: #101010;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.3;
}
