@import "./mixins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: #101010;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.3;
}
.feature-page {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
}
.feature__bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2px);
  width: 100%;
  position: relative;
}

.feature__title {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  color: #fff;
  margin-right: auto;
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: #000 3px 3px 3px;
  @include respond(tabletOrHigh) {
    font-size: 2.3rem;
  }
}

.feature__link {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 57%;
  left: 50%;
  transform: translate(-50%);
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(
    117deg,
    rgba(233, 237, 34, 0.865983893557423) 3%,
    rgba(235, 229, 50, 0.9612219887955182) 37%,
    rgba(218, 207, 37, 0.9612219887955182) 43%,
    rgba(231, 200, 62, 0.8883928571428571) 60%,
    rgba(202, 205, 47, 1) 92%
  );
  padding: 10px 20px;
  border-radius: 7px;
  text-transform: uppercase;
  @include respond(tabletOrHigh) {
    font-size: 1.5rem;
    top: 54%;
  }
}
.home-page {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: #fff;
  font-weight: 700;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: 1.5rem;
  padding: 3rem;
  @include respond(tabletOrHigh) {
    padding-top: 50%;
    transform: translateY(-50%);
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.card {
  display: flex;
  flex-direction: column;
  flex: 1 0 300px;
  max-width: 450px;
  background: #fff;
  overflow: hidden;
  color: #000000;
  border-radius: 5px;
  box-shadow: 3px 2px 14px rgba(255, 255, 255, 0.2);
  font-size: 1rem;
  transition: all 200ms ease-in-out;

  &:hover {
    transform: translateY(-1rem);
    box-shadow: 2px 3px 18px rgba(255, 255, 255, 0.4);
  }

  &__image {
    flex: 0 0 120px; // flex grow, flex shrink, flex basis
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  &__snippet {
    margin-bottom: 0.5rem;
  }

  &__readmore {
    margin-top: auto;
    text-transform: uppercase;
    font-weight: 700;
  }
}
